<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h5>Administrar Productos</h5>
                <h6 class="pt-2">Listado general</h6>                
            </div>
            <div class="page-btn">
                <a href="addproduct.html" class="btn btn-added"><img src="assets/img/icons/plus.svg" alt="img"
                        class="me-1">Agregar Producto</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                </div>   

            
                <div class="table-responsive">
                    <table class="table" id="datatable">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Categoria</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td class="productimgname">
                                    <a href="javascript:void(0);" class="product-img">
                                        <img src="assets/img/product/product1.jpg" alt="product">
                                    </a>
                                    <a href="javascript:void(0);">Macbook pro</a>
                                </td>
                                <td>Apple</td>
                                <td>Macbook</td>
                                <td>Notebooks</td>
                                <td>1500.00</td>
                                <td>4</td>
                                <td>
                                    <div class="status-toggle d-flex justify-content-between align-items-center">
                                        <input type="checkbox" id="user2" class="check">
                                        <label for="user2" class="checktoggle">checkbox</label>
                                    </div>
                                </td>
                                <td>
                                    <a class="me-3" href="editproduct.html">
                                        <img src="assets/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="confirm-text" href="javascript:void(0);">
                                        <img src="assets/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>        